.App-container {
    padding: 20px;
}

header {
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}

h1, h2 {
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 20px 0;
}

.menu {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.subsection {
    width: 40%;
}

.menu-link {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #E5E5E5;
}

.menu-link:hover {
    background-color: #E5E5E5;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: smaller;
    text-align: right;
    padding: 10px;
    border-top: 1px solid #E5E5E5;
}