.table-container {
    padding-bottom: 40px;
}

.db-table, .db-table-header, .db-table-cell {
    border: 1px solid #EEEEEE;
}

.db-table {
    width:100%;
    border-collapse: collapse;
}

.db-table-button {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 5px auto;
}

.db-table-row {
    width:100%;
}

.db-table-row:first-child {
    background: #EEEEEE;
}

.db-table-cell {
    padding: 5px;
    text-align:center;
    text-wrap: normal;
}

.db-table-header {
    text-transform:uppercase;
    padding: 15px;
    color: #6E6E6E;
    font-weight: 400;
}

.stat-container {
    display: block;
    width: 100%;
    margin: 15px;
}